:root {
  --lt-grayish: #6e728e;
  --drk-grayish: #4a4d60;
  --off-whiteish: #f7f7fe;
  --white: #ffffff;
  --blueish: #6d72de;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--off-whiteish);
  background-image: url(./bg-top.svg);
  background-repeat: no-repeat;
  background-position-x: right -200px;
  background-position-y: top -30px;
  height: 100vh;
}

main {
  width: 327px;
  margin: 0 auto;
}

.nine {
  display: none;
}

.plain {
  width: 327px;
  height: 453px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.fancy {
  width: 327px;
  height: 453px;
  border-radius: 10px;
  background-image: linear-gradient(#a2a7f0, #696edd);
  box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.fancy > .plan,
.fancy > .price {
  color: var(--white);
}
.fancy ul {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.fancy li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  color: var(--white);
}
.fancy button {
  background-image: unset;
  background-color: var(--white);
  color: var(--blueish);
}

.plan {
  font-size: 18px;
  font-weight: 700;
  color: var(--lt-grayish);
  margin-top: 35px;
}

.price {
  font-size: 72px;
  font-weight: 700;
  color: var(--drk-grayish);
  margin-top: 17px;
}

ul {
  border-top: 1px solid rgba(110, 114, 142, 0.25);
  width: 80%;
  margin-top: 24px;
}
li {
  font-size: 15px;
  font-weight: 700;
  color: var(--lt-grayish);
  list-style: none;
  border-bottom: 1px solid rgba(110, 114, 142, 0.25);
  text-align: center;
  padding: 17px 0 16px 0;
}

button {
  width: 269px;
  height: 44px;
  border: none;
  background-image: linear-gradient(45deg, #a2a7f0, #696edd);
  border-radius: 6px;
  font-size: 13px;
  letter-spacing: 1.39px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 32px;
}

/* Header Start*/
header {
  margin: 65px auto 0 auto;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--lt-grayish);
  margin-bottom: 50px;
}

.slider {
  font-size: 15px;
  font-weight: 700;
  color: var(--lt-grayish);

  display: flex;
  margin-bottom: 70px;
}

.slider p {
  opacity: 0.5;
}

#switch {
  width: 56px;
  height: 32px;
  border-radius: 16px;
  background: linear-gradient(135deg, #a2a7f0, #696edd);
  display: flex;
  align-items: center;
  margin: 0 25px;
}

.switch-off {
  justify-content: left;
}
.switch-on {
  justify-content: right;
}

.dot {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: var(--white);
  margin: 0 5px;
}

/* End Header*/

@media screen and (min-width: 1130px) {
  body {
    background-color: var(--off-whiteish);
    background-position-x: unset;
    background-position-y: unset;
    background-image: url(./bg-top.svg), url(./bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;

    height: 100vh;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: unset;
  }
  header {
    margin-top: 70px;
  }

  h1 {
    margin-bottom: 40px;
  }
  .plain {
    width: 350px;
    height: 453px;
  }

  .fancy {
    width: 350px;
    height: 501px;
  }

  .fancy > .plan {
    margin-top: 62px;
  }
  .slider {
  }
}
